

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    overflow: auto;
}
body::-webkit-scrollbar{
    width: 0.5vw;
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb{
    background-color:#777 ;
    border-radius: 20px;
}
body::-webkit-scrollbar-track{
    background: #555;
}

.container{
    width: 600px;
   
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 600px;
    position: fixed;
    z-index: 1;
    background: #000;
    height: 60px;
    border-radius: 10px;
    font-family: "Mukta", sans-serif;
    
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
li{
    list-style: none;
    padding-left: 10px;
    text-decoration: none;
    
    cursor: pointer;
}

.bttn{
    width: 50px;
    height: 20px;
    font-size: 10px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
    margin-left: 5px;
}
a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}
h1{
    font-size: 25px;
    display: flex;
    align-items: center;
    font-weight: lighter;
    opacity: 0.4;
}
main{
    margin-top: 60px;
}
section{
    background: rgb(34, 33, 33);
    border-radius: 10px;
    padding: 10px;
    text-wrap: wrap;
    font-family: "Inconsolata", monospace;
    margin: 16px auto;
}
h2{
    font-size: 20px;
    font-weight: lighter;
}
.text-1{
    font-size: 20px;
    line-height: 30px;
}
.btn_done{
    font-size: 10px;
    border-radius: 10px;
    background: white;
    padding: 5px;
    color: black;
    cursor: pointer;
}
.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: auto;
    
}
.modal_wrapper::-webkit-scrollbar{
    width:0.5vw
}
.modal_wrapper .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: ;
    background: rgba(0, 0, 0, .8);
    transition: 0.2s ease;
    }

.modal_wrapper .success_wrap .text-4{
    position: absolute;
    top: 50%;
    left: 50%;
   
    background: rgb(34, 33, 33);
    padding: 20px;
    width: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s ease;
    margin-top: -190px;
    font-size: 15px;
    line-height: 30px;
}


.modal_wrapper.active{
    visibility: visible;
}
.modal_wrapper.active .shadow{
    opacity: 1;
}
.modal_wrapper.active .success_wrap .text-4{
    transform: translate(-50%,-13%);
}

.material-symbols-sharp{
    float: right;
    cursor: pointer;
    padding: 5px 5px;
    background: gray;
    border-radius: 50%;
}


/*responsive phone*/
@media screen and (max-width:600px){
    .container{
        width: 325px;
    }
    nav{
        width: 325px;
    }
    .modal_wrapper .success_wrap .text-4{
        width: 325px;
        margin-top: 100px;
    }
}

@media screen and (max-width:390px){
 
}


/*responsive tablet*/
@media screen and (max-width:1024px){
    .modal_wrapper .success_wrap .text-4{     
        margin-top: -50%;
    }
}

