*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    font-family: sans-serif;
    background: #191919;
    color: #fff;
}
.white-theme{
    color: gray;
    background: white;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    z-index: 1;
    color: #fff;
}
.bttn{
    width: 50px;
    height: 20px;
    font-size: 10px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s;
}
.link-group{
    list-style: none;
    display: flex;
    transition: 0.5s;
}
a{
    text-decoration: none;
}
.link{
    color:#fff ;
    opacity: 0.5;
    padding: 10px 30px;
    text-transform: capitalize;
    margin: 0 20px;
    line-height: 80px;
    transition: 0.5s;
    font-size: 20px;
    outline: none;
}
.link:hover, .link.active{
    opacity: 1;
    color: white;
    transform: translateX(-10px);
}

.home-section{
    width: 100%;
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 1s;
}
.hero-heading{
    font-size: 50px;
    text-transform: capitalize;
}
.home-img{
    position: relative;
    margin-top: 70px;
    right: 0;
    height: 70vh;
    width: 70vh;
    object-fit: cover;
    opacity: 0.2;
    border-radius: 50%;
}
.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active{
    color: white;
}
.project-section{
    width: 100%;
    padding: 80px;
    border: 3px solid white;
    transition: all 0.5s;
}
.project-heading{
    font-size: 100px;
    background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-column-gap: 70px;
    grid-row-gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.project-card{
    height: 150px;
    width: 100%;
    position: relative;
    margin-top: 10px;
    overflow: auto;
    border-radius: 20px;
    cursor: pointer;
}
.project-card:hover{

}
.project-img{
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}


.btn{
    text-decoration: none;
    color: #fff;
}

.text-8{
   text-align: center;
   margin-top: 10px;
   font-size: 15px;
   font-weight: bold;
   opacity: 0.6;
  
}
.project-card:hover .project-content{
    opacity: 1;
}
.about-section{
    width: 100%;
    padding: 100px;
    position: relative;
    border: 4px solid gray;
    margin-top: 40px;
    transition: 1s;
}
.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 60%;
    grid-gap: 40px;
}
.about-img-container{
    position: relative;
}
.about-info{
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
}
.about-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 20px;
}
.download-cv-btn{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    top: -40px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: transparent;
}
.download-cv-btn:hover{
    background: #000;
}
.contact-section{
    position: absolute;
    height: 100vh;
    transition: 1s;
    padding: 100px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
input{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    
    color: #fff;
    padding: 5px 10px;
}
textarea{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    
    color: #fff;
    padding: 5px 10px;
}

#msg{
    height: 280px;
    resize: none;
    font-family: sans-serif;
}
.form-submit{
    background: #ff4f4f;
    color: #fff;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.form-submit:hover{
    transform:translateY(-7px) ;
}
.social{
    border-left: 5px solid #fff;
    
}

.icon {
    display:none;
    width: 20px;
    color: #fff;
}
.icon:hover{
    transform: translateX(10px);
}

.icons{
    
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
}
.icon2{
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.text{
    margin-left: 10px;
    color: whitesmoke;
    opacity: 0.6;
    transition: all .2s;
}
.text:hover{
    text-decoration: underline;
}
.icons-8{
    width: 40px;
   
}
.version{
    font-size: 10px;
    font-weight: lighter;
    opacity: 0.6;
    text-align: right;
    
}
footer{
    margin-top: 650px;
    
    
}



@media screen and (max-width:1100px) {
    .project-container{
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-gap: 50px;
      
    }
    .project-card{
        width: 100%;
        
    }
    .project-info{
        margin: 10px;
        
    }
    .about-section{
        padding: 30px;
    }
    .home-img{
        width: 500px;
        height: 600px;
    }
 
   
    .icon:hover{
        opacity: 0.6;
        
    }
  
    .hero-heading{
        font-size: 50px;
    }
  
    
    .download-cv-btn{
        font-size: 10px;
        left: 10%;
    }
    .home-section{
        display: block;
    }
    .contact-section{
        padding: 10px 10px;
    }
  
}

@media screen and (max-width: 700px) {
    .icon{
        display: block;
        width: 40px;
        margin-top: 50px;
        transition: 0.5s;
        cursor: pointer;
    }

    .link-group{
        display: block;
        justify-content: center;
        align-items: center;
        width: 50px;
       
       
    }
    .navbar{
        width: 50px;
        display: block;
        justify-content: space-evenly;
        align-items: center;
        opacity: 1;
    }
    .bttn{
        margin-top: 10px;
    }
    .link{
        display: none;
        padding: 10px 5px;
    }
    .project-container{
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-gap: 20px;
        margin-left: 90px;
    }
    .home-img{
        width: 300px;
        height: 400px;
        margin-left: -50px;
    }
    .project-heading{
        font-size: 50px;
    }
    .about{
        display: block;

    }
    .about-img{
        height: 400px;
        
    }
    .about-info{
        margin-left: 33px;
    }
    .contact-section{
        display: block;
        padding: 30px 50px;
    }
    .social{
       
        margin-top: 30px;
    }
 
}